/* Sign IN CSS + Reg*/
* {

	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	line-height: 19px;
	background-color: #fbf4f5;
	color: rgb(9, 9, 9);
	width: 100vw;
}


.form {
	border: 1px solid rgb(3, 3, 3);
	border-radius: 5px;
	padding: 20px 40px;
}

.container {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;

}

.main-content {
	display: flex;
}

.text {
	padding: 12px;
	margin-bottom: 15px;
	border-radius: 5px;
	width: 100%;
	font-size: 15px;
}

.btn {

	border: 1px solid #7fb8a3;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	width: 100%;
	font-weight: lighter;
	padding: 10px;
	border-radius: 5px;
	background-color: #ed97a3;
	color: #0e0d0d;

}

.btn:hover {
	background-color: #cdcbfa;
	color: #0b0b0b;
}

.check {
	margin: 10px 20px 20px 0px;
	padding-left: 10px;
}

.box {
	border: 2px solid #f4eff0;
	padding-top: 10px;
	outline: none;

}

.box:hover {
	border: 2px solid #060606;
	outline: none;
}

h2 {
	font-size: 30px;
	font-weight: 100;
	padding: 20px 0px;

}

hr {
	opacity: 50%;
	width: 50%;
	margin: auto;
	color: #060606;

}

p {
	font-size: 15px;
	padding-bottom: 10px;
	font-weight: 400;
	letter-spacing: 0.01cm;
}

p a {
	text-decoration: none;
	padding: 10px;
	color: #0d0d0d;
}

.rememberme-forgot {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

}

.rememberme-forgot a {
	text-decoration: none;
}

.rememberme-forgot a:hover {
	text-decoration: underline;
}

/* Contact Form */


.logo {
	padding: 20px;
}

.info p {
	color: #0a0a0a;
}

.main {
	display: flex;
	width: 100vw;
	justify-content: center;

}

.locat,
.emailcontact,
.phcontact,
.whatsapp {
	display: flex;
	align-items: baseline;
}

.infos {
	display: inline;
}

.icons {
	margin-right: 20px;
	color: #121212;
}

.info {
	border: 1px solid rgb(3, 3, 3);
	border-radius: 5px;
	padding: 20px;
	margin-right: 30px;

}

.contact-text {
	padding: 12px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 15px;
	width: 100%;
	font-family: "karla", sans-serif;
}

textarea {
	font-family: sans-serif;
}

ul {
	list-style: none;
}

li {
	text-decoration: none;
	font-size: 20px;
	display: inline;
	font-family: 'Karla', sans-serif;
	letter-spacing: 1px;
}

li a {
	text-decoration: none;
	color: rgb(17, 16, 16);
	padding: 0px 22px;

}

.titlebar {
	display: flex;
	padding: 30px 0px;
	font-size: 20px;
	justify-content: space-between;
	font-family: "awanzaman";
	margin: 0px 80px;
	width: 100vw;

}

.item1 a {
	text-decoration: none;
	color: rgb(20, 20, 20);
	font-family: 'Karla', sans-serif;
	padding-left: 40px;

}

.item1 {
	margin-left: 40px;
}

.item2 {
	margin-right: 40px;
}